body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
}

.header-wrap {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo img{
  display: block;
  width: 30%;
  margin-left: 35px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 30px;
}

.header-nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.header-nav a:hover {
  opacity: 0.7;
}

.mv {
  width: 100%;
  height: 250px;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

.mv h1 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 250px;
}

.main-1 {
  width: 100%;
  padding: 70px 0;
}
.box-content {
 width: 60%;
 margin: 0 auto;
}

.box-content a {
  text-decoration: none;
}

.box1 {
  width: 100%;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  padding: 25px 0;
}

.box1:hover {
  opacity: 0.7;
}

.box1 time {
  font-size: 16px;
  margin-left: 10px;
  color: #222;
}

.box1 p {
  color: #222;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.main-2 {
  width: 100%;
  background-color: #f5f6f9;
  text-align: center;
  padding-bottom: 70px;
}

.main-2 h1 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 20px;
}

.main-2 p {
  font-size: 16px;
   letter-spacing: 0.01em;
   margin-bottom: 30px;
}

.box2 {
  width: 300px;
  height: 50px;
  background-color: #cd0224;
  margin: 0 auto;
}

.box2:hover {
  opacity: 0.7;
}

.box2 a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer {
  width: 100%;
  background-color: #222222; 
}

.footer-wrap {
  display: flex; 
  justify-content: space-between;
  padding: 20px 220px;
  align-items: center;
}

.footer-logo {
  font-size: 12px;
  color: white;
}

.footer-nav ul {
  display: flex;
}

.footer-nav a {
  color: white;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
   border-left: 1px solid #ffffff;
  padding-left: 12px;
}

.footer-nav a:hover {
  opacity: 0.7;
}

.footer-nav li:first-child a {
  border-left: none;
}

@media screen and (max-width: 768px) {
  
  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 20px;
    transition: 0.4s;
    position: fixed;
  }

  #hamburger span {
     position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 3px;
    background-color: #222;
    transition: 0.8s;
  }

   #hamburger span:nth-of-type(1) {
    top: 10px;
  }

  #hamburger span:nth-of-type(2) {
    top: 20px;
  }

  #hamburger span:nth-of-type(3) {
    top: 30px;
  }

  .header-nav {
    display: none;
  }

  .box-content {
    width: 90%;
    margin: 0 auto;
}

  .box1 {
    padding: 10px 0;
  }

  .footer-wrap {
    padding: 0 140px;
  }
  .footer-nav ul {
    display: block;
    padding: 20px 0 ;
  }

  .footer-nav li {
    padding: 5px 0;
  }
  .footer-nav a {
    border-left: none;
  }
}